/* iPhone 5/SE and iPod */
/* Handle range from 320 x 568 and lower */
@media screen and (max-width: 320px) {
    #company-div {
        background-color: var(--lighter-background-color);
        border: transparent;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 5px;
        min-height: 250px;
    }

    #company-h2-div {
        align-items: center;
        border-bottom: solid 1px var(--on-background-color);
        display: flex;
        flex-direction: row;
        justify-content: left;
        margin: 0px 5px 10px 5px;
        width: calc(100% - 10px);
    }

    #company-h2 {
        color: var(--on-background-color);
        font-family: var(--font-family);
        font-size: 19px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: -0.33px;
        line-height: 40px;
        text-transform: uppercase;
    }

    #company-display-div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0px 5px;
        width: 100%;
    }

    #company-sector-span {
        color: var(--on-background-color);
        font-family: var(--font-family);
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: -0.1px;
        line-height: 20px;
    }

    #company-industry-span {
        color: var(--on-background-color);
        font-family: var(--font-family);
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: -0.1px;
        line-height: 20px;
    }

    #company-name-h1 {
        color: var(--on-background-color);
        font-family: var(--font-family);
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: -0.33px;
        line-height: 40px;
    }
    
    #company-price-h1 {
        color: var(--on-background-color);
        font-family: var(--font-family);
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: -0.33px;
        line-height: 40px;
    }

    #company-variance-span {
        color: var(--on-background-color);
        font-family: var(--font-family);
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: -0.1px;
        line-height: 20px;
    }

    #company-percentage-span {
        color: var(--on-background-color);
        font-family: var(--font-family);
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: -0.1px;
        line-height: 20px;
    }

    #quote-display-div {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        margin: 0px 5px;
        width: 100%;
    }

    #company-quote-div {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #company-ticker-div {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
    }

    .company-ticker-span {
        align-self: flex-end;
        color: var(--on-background-color);
        font-family: var(--font-family);
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: -0.1px;
        line-height: 20px;
    }

    #company-ask-div {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
    }

    .company-ask-span {
        color: var(--on-background-color);
        font-family: var(--font-family);
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: -0.1px;
        line-height: 20px;
    }

    #company-bid-div {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
    }

    .company-bid-span {
        color: var(--on-background-color);
        font-family: var(--font-family);
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: -0.1px;
        line-height: 20px;
    }

    #iex {
        color: var(--iex-color);
        font-family: var(--font-family);
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: -0.1px;
        line-height: 20px;
        margin: 0px 5px;
        text-decoration: none;
    }
    
    #iex:hover {
        text-decoration: underline;
    }
}