footer {
    display: flex;
    flex-direction: row;
    height: 100px;
}

#footer-div {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    margin: auto;
    width: 90%;
}

#footer-bc-a {
    color: var(--on-background-color);
    font-family: var(--font-family);
    font-weight: 500;
    letter-spacing: -0.33px;
    line-height: 30px;
    text-decoration: none;
}

#footer-bc-a:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* iPhone 5/SE and iPod */
/* Handle range from 320 x 568 and lower */

/* Cell Phone */
/* Handle common ranges from 360 x 640 to 480 x 853 */
@media screen and (max-width: 480px) {
    #footer-div {
        align-items: center;
    }
    #header-a {
        font-size: 13px;
    }
}


/* Tablet */
/* Handle common ranges from 600 x 960 to 800 x 1280 */
@media screen and (min-width: 481px) and (max-width: 800px) {
    #footer-div {
        align-items: center;
    }
    #header-a {
        font-size: 16px;
    }
}

/* Laptop */
/* Handle common ranges from 1024 x 1366 to 1112 x 834 */

/* Desktop */
/* Handle common width ranges from 1113 to 1799 */

/* Oversize Desktop */
/* Handle common width ranges from 1800 and up */
@media screen and (min-width: 801px) {
    #footer-div {
        align-items: center;
        width: 60%;
    }
    #header-a {
        font-size: 19px;
    }
}
