/* iPhone 5/SE and iPod */
/* Handle range from 320 x 568 and lower */
@media screen and (max-width: 320px) {
    main {
        display: flex;
        flex-direction: row;
        height: calc(100% - 100px - 100px);
    }

    #main-div {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        margin: auto;
        width: 90%;
    }
}
