/* iPhone 5/SE and iPod */
/* Handle range from 320 x 568 and lower */
@media screen and (max-width: 320px) {
    #news-div {
        background-color: var(--lighter-background-color);
        border: transparent;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 20px;
        min-height: 250px;
    }

    #news-h2-div {
        align-items: center;
        border-bottom: solid 1px var(--on-background-color);
        display: flex;
        flex-direction: row;
        justify-content: left;
        margin: 0px 5px 10px 5px;
        width: calc(100% - 10px);
    }

    #news-h2 {
        color: var(--on-background-color);
        font-family: var(--font-family);
        font-size: 19px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: -0.33px;
        line-height: 40px;
        text-transform: uppercase;
    }

    #news-source-div {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 0px 5px;
        width: calc(100% - 10px);
    }

    .news-source-span {
        color: var(--on-background-color);
        font-family: var(--font-family);
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: -0.1px;
        line-height: 20px;
        margin-right: 5px;
    }

    #news-headline-div {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 0px 5px 10px 5px;
        width: calc(100% - 10px);
    }

    #news-headline-a {
        color: var(--tertiary-color);
        font-family: var(--font-family);
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: -0.1px;
        line-height: 20px;
        text-decoration: none;
    }

    #news-headline-a:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    #news-summary-div {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 0px 5px 10px 5px;
        width: calc(100% - 10px);
    }

    #news-summary-p {
        color: var(--on-background-color);
        font-family: var(--font-family);
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: -0.1px;
        line-height: 20px;
    }

    #news-image-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0px 5px 10px 5px;
        width: calc(100% - 10px);
    }

    #news-img {
        width: calc(100% - 10px);
        margin: 0px auto;
    }

}