/* iPhone 5/SE and iPod */
/* Handle range from 320 x 568 and lower */
@media screen and (max-width: 320px) {
    #selector-div {
        display: flex;
        flex-direction: row;
        height: 60px;
        margin: auto;
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    #tickers-div {
        align-items: center;
        display: flex;
        flex-direction: row;
        height: 60px;
        margin: auto 2px;
        width: 80px;
    }

    .tickers-button {
        border: transparent;
        border-radius: 10px;
        background-color: var(--lighter-background-color);
        color: var(--on-background-color);
        font-family: var(--font-family);
        font-size: 13px;
        font-weight: 500;
        letter-spacing: -0.33px;
        line-height: 30px;
        width: 65px;
    }

    .tickers-button:hover {
        cursor: pointer;
        color: var(--lighter-background-color);
        background-color: var(--on-background-color);
    }

}

/* Cell Phone */
/* Handle common ranges from 360 x 640 to 480 x 853 */
@media screen and (min-width: 321px) and (max-width: 480px) {
    #selector-div {
        display: flex;
        flex-direction: row;
        height: 60px;
        margin: auto;
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    #tickers-div {
        align-items: center;
        display: flex;
        flex-direction: row;
        height: 60px;
        margin: auto 2px;
        width: 80px;
    }

    .tickers-button {
        border: transparent;
        border-radius: 10px;
        background-color: var(--lighter-background-color);
        color: var(--on-background-color);
        font-family: var(--font-family);
        font-size: 13px;
        font-weight: 500;
        letter-spacing: -0.33px;
        line-height: 30px;
        width: 65px;
    }

    .tickers-button:hover {
        cursor: pointer;
        color: var(--lighter-background-color);
        background-color: var(--on-background-color);
    }
}

/* Tablet */
/* Handle common ranges from 600 x 960 to 800 x 1280 */
@media screen and (min-width: 481px) and (max-width: 800px) {
    #selector-div {
        display: flex;
        flex-direction: row;
        height: 60px;
        margin: auto;
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    #tickers-div {
        align-items: center;
        display: flex;
        flex-direction: row;
        height: 60px;
        margin: auto 2px;
        width: 80px;
    }

    .tickers-button {
        border: transparent;
        border-radius: 10px;
        background-color: var(--lighter-background-color);
        color: var(--on-background-color);
        font-family: var(--font-family);
        font-size: 13px;
        font-weight: 500;
        letter-spacing: -0.33px;
        line-height: 30px;
        width: 65px;
    }

    .tickers-button:hover {
        cursor: pointer;
        color: var(--lighter-background-color);
        background-color: var(--on-background-color);
    }
}

/* Laptop */
/* Handle common ranges from 1024 x 1366 to 1112 x 834 */
@media screen and (min-width: 801px) and (max-width: 1112px) {
    #selector-div {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100px;
    }

    #display-div {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: auto;
        width: calc(100% - 100px);
    }

    #tickers-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto;
        width: 80px;
    }

    .tickers-button {
        border: transparent;
        border-radius: 10px;
        background-color: var(--lighter-background-color);
        color: var(--on-background-color);
        font-family: var(--font-family);
        font-size: 13px;
        font-weight: 500;
        letter-spacing: -0.33px;
        line-height: 30px;
        margin: 2px;
        width: 65px;
    }

    .tickers-button:hover {
        cursor: pointer;
        color: var(--lighter-background-color);
        background-color: var(--on-background-color);
    }
}

/* Desktop */
/* Handle common width ranges from 1113 to 1799 */
@media screen and (min-width: 1113px) and (max-width: 1799px) {
    #selector-div {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100px;
    }

    #display-div {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: auto;
        width: calc(100% - 100px);
    }

    #tickers-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto;
        width: 80px;
    }

    .tickers-button {
        border: transparent;
        border-radius: 10px;
        background-color: var(--lighter-background-color);
        color: var(--on-background-color);
        font-family: var(--font-family);
        font-size: 13px;
        font-weight: 500;
        letter-spacing: -0.33px;
        line-height: 30px;
        margin: 2px;
        width: 65px;
    }

    .tickers-button:hover {
        cursor: pointer;
        color: var(--lighter-background-color);
        background-color: var(--on-background-color);
    }
}

/* Oversize Desktop */
/* Handle common width ranges from 1800 and up */
@media screen and (min-width: 1800px) {
    #selector-div {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100px;
    }

    #display-div {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: auto;
        width: calc(100% - 100px);
    }

    #tickers-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto;
        width: 80px;
    }

    .tickers-button {
        border: transparent;
        border-radius: 10px;
        background-color: var(--lighter-background-color);
        color: var(--on-background-color);
        font-family: var(--font-family);
        font-size: 13px;
        font-weight: 500;
        letter-spacing: -0.33px;
        line-height: 30px;
        margin: 2px;
        width: 65px;
    }

    .tickers-button:hover {
        cursor: pointer;
        color: var(--lighter-background-color);
        background-color: var(--on-background-color);
    }
}
