<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>Point Zero One</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div id="header-div">
                <h1 id="header-h1">Point Zero One</h1>
                <span id="header-span">A fictional financial services firm.</span>
            </div>
        </header>
        <main>
            <div id="main-div">
                <div id="selector-div">
                    
                </div>
                <div id="display-div">
                    <div id="company-div">
                        <div id="company-h2-div">
                            <h2 id="company-h2">Company</h2>
                        </div>
                        <div id="middle-company-div">
                            <div id="company-display-div">
                                <div id="company-sector-div">
                                    <span id="company-sector-span"></span>
                                </div>
                                <div id="company-industry-div">
                                    <span id="company-industry-span"></span>
                                </div>
                                <div id="company-name-div">
                                    <h1 id="company-name-h1"></h1>
                                </div>
                                <div id="company-price-div">
                                    <h1 id="company-price-h1"></h1>
                                </div>
                                <div id="company-variance-div">
                                    <span id="company-variance-span"></span>
                                    <span id="company-percentage-span"></span>
                                </div>
                            </div>
                            <div id="quote-display-div">
                                <div id="company-quote-div">
                                    <div id="company-ticker-div">
                                        <span class="company-ticker-span">Ticker:&nbsp;</span>
                                        <span class="company-ticker-span" id="co-tic-span"></span>
                                    </div>
                                    <div id="company-ask-div">
                                        <span class="company-ask-span">Ask:&nbsp;</span>
                                        <span class="company-ask-span" id="co-ask-span"></span>
                                    </div>
                                    <div id="company-bid-div">
                                        <span class="company-bid-span">Bid:&nbsp;</span>
                                        <span class="company-bid-span" id="co-bid-span"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a id="iex" href="https://iexcloud.io" target="_blank">Data provided by IEX Cloud</a>
                    </div>
                    <div id="historical-graph-div">
                        <div id="historical-h2-div">
                            <h2 id="historical-h2">Historical Prices</h2>
                        </div>
                        <div id="historical-plot-div">
                            
                        </div>
                    </div>
                    <div id="about-div">
                        <div id="about-h2-div">
                            <h2 id="about-h2">About</h2>
                        </div>
                        <div id="top-about-div">
                            <div id="description-div">
                                <p id="description-p"></p>
                            </div>
                            <div id="middle-about-div">
                                <div id="ceo-div">
                                    <label class="ceo label">CEO</label>
                                    <span class="ceo" id="ceo-span"></span>
                                </div>
                                <div id="website-div">
                                    <label class="website label">Website</label>
                                    <a class="website" id="website-a" target="_blank"></a>
                                </div>
                                <div id="exchange-div">
                                    <label class="exchange label">Exchange</label>
                                    <span class="exchange" id="exchange-span"></span>
                                </div>
                                <div id="address-div">
                                    <label class="address label">Address</label>
                                    <span class="address" id="address-span"></span>
                                    <div id="c-s-z-div">
                                        <span class="c-s-z" id="city-span"></span>
                                        <span class="c-s-z" id="state-span"></span>
                                        <span class="c-s-z" id="zip-span"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="news-div">
                        <div id="news-h2-div">
                            <h2 id="news-h2">News</h2>
                        </div>
                        <div id="news-source-div">
                            <span class="news-source-span" id="source"></span>
                            <span class="news-source-span" id="source-date"></span>
                        </div>
                        <div id="news-headline-div">
                            <a id="news-headline-a" target="_blank"></a>
                        </div>
                        <div id="news-summary-div">
                            <p id="news-summary-p"></p>
                        </div>
                        <div id="news-image-div">
                            <img id="news-img"></img>
                        </div>
                    </div>
                    <div id="earnings-div">
                        <div id="earnings-h2-div">
                            <h2 id="earnings-h2">Earnings</h2>
                        </div>
                        <div id="earnings-plot-div">
                            
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div id="footer-div">
                <a id="footer-bc-a" href="">made by b. christopher</a>
            </div>
        </footer>
    </body>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</html>